[submodule "src/thirdparty/eigen"]
	path = src/thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "src/thirdparty/autodiff"]
	path = src/thirdparty/autodiff
	url = https://github.com/autodiff/autodiff
[submodule "src/thirdparty/spectra"]
	path = src/thirdparty/spectra
	url = https://github.com/yixuan/spectra
[submodule "src/thirdparty/libigl"]
	path = src/thirdparty/libigl
	url = https://github.com/libigl/libigl.git
[submodule "src/thirdparty/facet-forge"]
	path = src/thirdparty/facet-forge
	url = https://github.com/daseyb/facet-forge.git
